body {
    font-family: Arial, sans-serif;
    background-color: #000010;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    margin: 40px 125px;
    padding: 40px;
    border: 2px solid blue;
    border-radius: 25px;
}

label {
    color: white;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 50px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select:hover {
    background-color: #0056b3;
}

select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
}

.product-card img {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border-radius: 10px;
}

.product-name a {
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.product-name a:hover {
    text-decoration: underline;
}

.product-details, .product-tv-code, .product-price {
    margin-top: 10px;
    font-size: 16px;
}

.product-details a {
    color: #0099ff; /* Change this to your desired color */
    text-decoration: none; /* Remove underline */
}

.product-details a:hover {
    color: #388E3C; /* Change this to your desired hover color */
    text-decoration: underline; /* Underline on hover */
}


.product-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
}

body {
    font-family: Arial, sans-serif;
}

.filter-sidebar {
    width: 250px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-right: 20px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 16px;
}

.filter-content {
    display: none; /* Hidden by default, displayed on click */
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #000;
}

.slider {
    width: 100%;
}

#priceValue {
    font-weight: bold;
}

